<div class="row-fluid">
    <div class="span4">
        <span>hola!</span>
    </div>
    <div class="span5">
        <span>como estas?</span>
    </div>
    <div class="3">
        <span>spanish, anyone?</span>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
       <div style="height:70px; background:green;"></div>
    </div>
</div>
<div class="row-fluid"><div style="height:20px;"></div></div>
<div class="row-fluid">
    <div class="span5">
       <div style="height:70px; background:blue;"></div>
    </div>
    <div class="span5">
       <div style="height:70px; background:red;"></div>
    </div>
    <div class="span2">
       <div style="height:70px; background:orange;"></div>
    </div>
</div>
<div class="row-fluid"><div style="height:20px;"></div></div>
<div class="row-fluid">
    <div class="span2">
       <div style="height:70px; background:red;"></div>
    </div>
    <div class="span3">
       <div style="height:70px; background:black;"></div>
    </div>
    <div class="span2">
       <div style="height:70px; background:gray;"></div>
    </div>
    <div class="span4">
       <div style="height:70px; background:red;"></div>
    </div>
    <div class="span1">
       <div style="height:70px; background:black;"></div>
    </div>
</div>
<div class="row-fluid"><div style="height:20px;"></div></div>
<div class="row-fluid">
    <div class="span12">
        <div style="height:70px; background:#c3c3c3;"></div>
    </div>
</div>